<!--app/views/index.erb--> 
<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Views</title>
  </head>

  <body>
    <h1>Index</h1>
    <p>Hello World</p>
    <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
  </body>
</html>